.action-btn {
  width: 22px;
  height: 22px;
}

.counter > * + * {
  margin-left: 4px;
}

.counter-container {
  margin-top: 8px;
}

.counter-container > * + * {
  margin-top: 4px;
}

.goals{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  display: flex;
  margin: 5px;
}

br{
  display: flex;
  margin: 2px;
}